<h1> Please fill in your information below </h1>

<form action="/sign_up" method="POST">
  <input type="text" name="email" placeholder="e-mail"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="password_copy" placeholder="retype password">
  <input type="submit" value="Sign me up">
</form>
